
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

#hd {
	height: 78px !important;
	margin-top: -12px;
	z-index: 100;
}


.main-content,
#instantSearchGalleryResults,
#genrePage {
	width: 65%;
	float: left;
}

#footer {
	clear: both;
	float: left;
	width: 65%;
}

.added-description {
	position: fixed;
	width: 35%;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 17;
	/* Commenting out the original img url as a backup */
	/* 
	background-image: url('http://upload.wikimedia.org/wikipedia/commons/3/30/Cinemaaustralia.jpg');
	*/
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/cinema-bg.jpg');
	background-size: cover;
}

.nested-div {
	width: 100%;
	height: 100%;	
	position: relative;
	background-color: rgba(0,0,0, 0.75);
	padding-right: 30px;
}

.opening-title {
	position: absolute;
	top: 36%;
	color: rgba(255,255,255, 0.9);
	font-weight: 300;
	font-size: 55px;
	margin: 0 70px;
	font-family: "Didot", "Palatino Linotype", serif;
}

.img-injected {
	margin-top: 100px;
	margin-left: 30px;
	width: 35%;
	float: left;
}

.ratings {
	color: rgba(245,245,245, 0.9);
	float: left;
	width: 50%;
	margin-top: 100px;
	margin-left: 4%;
	font-family: 'Open Sans', 'Arial', sans-serif;
}

.rt-rating,
.mc-rating {
	padding-top: 20px;
}

.imdb-number {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/imdb.png');
}

.rt-number {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/rotten-tomatoes.png');
}

.mc-number {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/metacritic.png');
}


.rate {
	display: block;
	padding-left: 46px;
	height: 35px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 7px;
	font-size: 30px;
	font-weight: 600;
	position: relative;
}


.user-base {
	position: absolute;
	top: -13px;
	left: 46px;
	font-size: 12px;
	color: rgba(255,255,255,0.8);
	font-weight: 300;
}

.user-base:nth-of-type(2) {
	left: 95px;
}

.second-rating {
	margin-left: 15px;
}

.loading-score {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/spinner.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

@-moz-keyframes spin { 
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); } 
}
@-o-keyframes spin { 
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); } 
}
@keyframes spin { 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } 
}

.loading-score {
  -webkit-animation: spin 0.6s infinite linear; /* Safari 4+ */
  -moz-animation:    spin 0.6s infinite linear; /* Fx 5+ */
  -o-animation:      spin 0.6s infinite linear; /* Opera 12+ */
  animation:         spin 0.6s infinite linear; /* IE 10+, Fx 29+ */
}

.not-available {
	display: inline-block;
	font-size: 20px;
	opacity: 0.6;
}

.info-blob {
	clear: both;
	margin: 0 30px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: rgba(245,245,245, 0.9);
	padding-top: 40px;
	font-size: 16px;
	font-weight: 300;
}

.movie-title {
	font-size: 28px;
	margin-bottom: 20px;
	font-weight: 600;
}

.directed-by, 
.starring, 
.year-produced {
	margin-bottom: 11px;
	font-weight: 600;
	font-size: 12px;
}

.directed-by span,
.starring span {
	font-weight: 300;
}

.year-produced span {
	margin-left: 10px;
}

.maturity-rating {
	border: 1px #fff solid;
	padding: 0 4px;
}

.info-description {
	font-size: 14px;
	line-height: 19px;
}

.lockup,
.agMovie {
	position: relative !important;
}

.more-info-link {
	position: absolute;
	bottom: 0px;
	left: 0;
	color: rgba(255,255,255, .75) !important;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 20px !important;
	z-index: 600 !important; 
	font-size: 0.85rem;
	font-weight: 300;
	background-color: rgba(0,0,0, 0.58);
	padding: 5px 0 1px;
	transition: all 0.5s;
	text-align: center;
}

.more-info-link:hover {
	text-decoration: underline;
	color: rgba(255,255,255, .99) !important;
	background-color: rgba(0,0,0, 0.93);
}

.awards {
	margin-top: 20px;
	float: left;
	width: 50%;
	margin-left: 4%;
}

.award-icon {
	margin-top: 7px;
	width: 20px;
	height: 30px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.85;
}

.my-options {
	margin-top: 40px;
	margin-left: 30px;
}

.my-options a {
	border: 1px solid rgba(255,255,255, 0.8);
	padding: 6px 10px;
	margin-right: 8px;
	color: rgba(255,255,255, 0.9);
	display: inline-block;
	font-size: 11px;
	font-weight: 300;
	opacity: 0.89;
	font-family: 'Open Sans', sans-serif;
	transition: all 0.5s;
}

.my-options a:hover {
	opacity: 1;
}

.oscar {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/oscars-icon.png');
}

.golden {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/golden-icon.png');
}

.emmy {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/emmys-icon.png');
}
